body {
    background-color: #17BEBB;
}
h1 {
    color: white;
}
h2 {
    color: white;
}
p {
    color: white;
    font-family: 'Architects Daughter', cursive;
    font-size: 19px;
}

.game-container {
    text-align: center;
}

.choice_btn {
    height: 130px;
    width: 130px;
    background-color: #FFC914;
    border-radius: 15px;
    margin: 40px 10px;
}

.choice_btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);   
}

.results {
    border: 12px double white;
    border-radius: 8px;
    height: 220px;
    width: 600px;
    margin: 0 auto;
    background-color: #FF6B6B;
    padding: 5px;
}

#winner{
    font-size: 24px;
    font-weight: 600;
}